@import url("https://fonts.googleapis.com/css?family=Manjari|Roboto&display=swap");

$blue: #1e336a;
$black: #404040;
$gray: #f6f6f6;
$gray_dark: #cccccc;

body {
  font-family: "Manjari", sans-serif;
  font-size: 16px;
}

header {
  background: $blue;
  padding: 10px;
  height: calc(10vh - 20px);
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  nav {
    a {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  figure {
    margin: 0;
    img {
      width: auto;
      height: 20px;
    }
  }
}

aside {
  background-color: $gray;
  height: 90vh;
  border-right: 1px solid $gray_dark;
  padding: 20px;
  nav {
    a {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid $gray_dark;
      color: $black;
      &:hover {
        color: inherit;
      }
    }
  }
}

main {
  padding: 30px 40px;
}
